body {
    font-family: "Kumbh Sans", sans-serif;
    background-color: hsl(185, 75%, 39%);
}

.imgProfile {
    left: 5.8rem;
}

.location {
    color: #acadaf;
}

.stadText {
    color: hsl(0, 0%, 59%);
}

.age {
    color: hsl(227, 10%, 46%);
}

.stadNumber,
.name {
    color: hsl(229, 23%, 23%);
}

.stadInfo {
    border-top: 0.05rem solid #929399;
}
